<div class="h-100 d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-primary-gradient display-3 fw-bold mb-5">
    Goodbot.club
  </h1>
</div>
<div class="position-absolute bottom-0 end-0 py-1 px-3">
  <a href="https://github.com/vinc/goodbot.club" class="link-body-emphasis"><i class="bi bi-github fs-1"></i></a>
</div>
